:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  --final-price-color: #ff0000;
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* utility classes */

.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Cart icon styles */

.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

.products {
  padding: 0.5em;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */

.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

.product-card__price {
  color: var(--final-price-color);
}

.product-card__suggested__price {
  text-decoration: line-through;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */

.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  display: flex;
  grid-row: 2;
  grid-column: 3;
}

.cart-card__delete__button {
  color: black;
  background-color: red;
  border-radius: 50%;
  width: 20%;
  height: 25%;
  text-align: center;
  margin: 5px;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/* Cart Icon Animation START*/

.shake {
  animation:
    shakeAnimation 1s ease-in-out,
    colorAnimation 1s ease-in-out;
}

@keyframes shakeAnimation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(15deg) scale(1.2);
  }
  50% {
    transform: rotate(-15deg) scale(0.8);
  }
  75% {
    transform: rotate(15deg) scale(0.8);
  }
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes colorAnimation {
  0% {
    background: radial-gradient(
      circle,
      rgba(139, 0, 0, 1) 0%,
      /* Darker red at the center */ rgba(255, 0, 0, 1) 10%,
      /* Solid red transitioning */ rgba(255, 0, 0, 0) 70%
        /* Fully transparent towards the edges */
    );
    border-radius: 50%;
  }
  100% {
    background: radial-gradient(
      circle,
      rgba(139, 0, 0, 1) 0%,
      /* Darker red at the center */ rgba(255, 0, 0, 0) 50%,
      /* Transparent transition */
    );
    border-radius: 50%;
  }
}

/* Add a pseudo-element for the background circle */

.cart {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.cart::after {
  content: "";
  position: relative;
  background-size: cover;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: circleAnimation 0.5s ease-in-out forwards;
  z-index: -1;
}

@keyframes circleAnimation {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

/* Cart Icon Animation END */

/* Superscript CSS START*/

.superscript {
  color: var(--primary-color);
  background-color: var(--dark-grey);
  position: absolute;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  right: 2px;
  top: 3px;
}

.large-cart {
  width: 28px;
  height: 28px;
  right: 0px;
  top: 1px;
  padding-top: 1px;
  font-size: var(--small-font);
}

/* SUPERSCRIPT CSS END */

/* For cart buttons*/

/* .product styles */

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/* .quantity-controls styles */

.quantity-controls {
  display: flex;
  align-items: center;
}

/* .button styles for cart quantities */

button__quantity {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* .quantity styles */

.quantity {
  margin: 0 10px;
  font-size: 16px;
}

/* New CSS for increment and decrement buttons */

/* .increment and .decrement button styles */

.increment,
.decrement {
  padding: 5px 10px;
  background-color: #007bff;
  /* Same as existing button background color */
  color: #fff;
  /* Same as existing button text color */
  border: none;
  /* Same as existing button border */
  cursor: pointer;
  /* Same as existing button cursor */
  margin-left: 5px;
  /* Adjust margin as needed */
}

.increment:hover,
.decrement:hover {
  background-color: #0056b3;
  /* Darken the background color on hover */
}

/* .increment and .decrement button styles on small screens */

@media screen and (max-width: 500px) {
  .increment,
  .decrement {
    padding: 3px 8px;
    /* Adjust padding for smaller screens */
    font-size: 14px;
    /* Adjust font size for smaller screens */
  }
}

/* hiding total in cart */

.total-hidden {
  display: none;
}
